.intro {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-end;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 20px;
  min-height: 850px;

  &--secondary {
    padding-bottom: 51px;
    min-height: 750px;
  }

  &__bg {
    position: absolute;
    inset: 0;
    background: url("./../../public/0c576c6d129d299246b5ab270b7bf61694485343.png") no-repeat center;
    background-size: cover;
    filter: brightness(0.8);
    z-index: -1;

    &--buyers {
      background: url("./../../public/5e846506353cdc41f0e3af99e5ca39d8751a2760.png") center;
      background-size: cover;
    }

    &--owners {
      background: url("./../../public/11235ac25ec930cbeede14e3b546398488350b46.png") center;
      background-size: cover;
    }

    &--commercial {
      background: url("./../../public/6584dbd0212b96310f39b6b1bfc9c883b6a56166.png") center;
      background-size: cover;
    }

    &--vacancies {
      background: url("./../../public/78cf743d619e8aa0be660f625381dd2b3add4e04.png") center;
      background-size: cover;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__about {
    max-width: 601px;
    width: 100%;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    @media (max-width: 720px) {
      min-height: 200px;
    }

    &--owners {
      min-height: 220px;
      max-width: 625px;
    }

    &--buyers {
      min-height: 195px;
      max-width: 530px;
    }

    &--commercial {
      min-height: 210px;
      max-width: 530px;
    }

    &--vacancies {
      min-height: 220px;
      max-width: 840px;
    }
  }

  &__actions {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
    gap: 20px;

    @media (max-width: 1525px) {
      flex: inherit;
      justify-content: flex-start;
    }
  }

  &__title {
    font-family: Grtsk Giga Bkslnt, sans-serif;
    font-weight: bold;
    @include text-color('white');
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__description {
    @include text-color('white');
    width: 100%;

    &--vacancies {
      max-width: 653px;
    }
  }
}