.news {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  gap: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 40px;
  }

  &__title {
    max-width: 773px;
    width: 100%;
    font-family: Grtsk Giga Bkslnt, sans-serif;
    font-weight: 500;
  }

  &__item {
    min-height: 464px;
  }
}