.pagination {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;

  &__links {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__link {
    transition: .3s;

    &--active {
      @include bg-color('red');
      width: 27px;
      height: 27px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include text-color('white');
    }
  }
}