.pair-justefield {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

  &__left {
    flex: 1 1 auto;
    min-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  &__right {
    flex: 1 1 auto;
    min-width: 50px;
    white-space: normal;
    word-break: break-word;
    text-align: right;
    margin: 0;
  }
}
