.reviews {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    width: 100%;
    max-width: 840px;
    font-family: 'Grtsk Giga Bkslnt', sans-serif;
    font-weight: 500;
  }

  &__header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &__grid {
    display: flex;
    overflow-y: auto;
    gap: 40px;
  }

  &__item {
    min-width: 520px;

    @media (max-width: 520px) {
      min-width: 100%;
    }
  }
}