.reviews {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  gap: 40px;

  &__title {
    width: 100%;
    max-width: 840px;
    font-family: 'Grtsk Giga Bkslnt', sans-serif;
    font-weight: 500;
  }

  &__header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
}