.goals {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-family: 'Grtsk Giga Bkslnt', sans-serif;
    font-weight: 500;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__find-ideal-title {
    width: 100%;
    max-width: 470px;
  }

  &__find-ideal-image {
    height: 220px;
  }

  &__item {
    min-height: 220px;
    flex: 1 1 800px;
    min-width: 0;
  }
}