.team {
  display: flex;
  gap: 40px;
  flex-direction: column;

  &__title {
    font-family: 'Grtsk Giga Bkslnt', sans-serif;
    font-weight: 500;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__grid {
    display: flex;
    gap: 40px;
    overflow: auto;
  }

  &__item {
    min-width: 380px;
  }
}