.current-vacancies {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    width: 100%;
    max-width: 858px;
    font-family: 'Grtsk Giga Bkslnt', sans-serif;
    font-weight: 500;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    gap: 40px;
  }

  @media (max-width: 800px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }

  &__vacancy {
    min-height: 408px;
  }
}
