.about {
  @include bg-color('white');
  padding: 40px 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  &__title {
    width: 100%;
    max-width: 660px;
    font-family: 'Grtsk Giga Bkslnt', sans-serif;
    font-weight: 500;
  }

  &__order-a-call {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about__collage {
    position: relative;
    width: 100%;
    height: 1440px;
    overflow: hidden;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
    }

    @media (max-width: 768px) {
      height: auto;
      min-height: 700px;
    }


    &-title {
      font-family: 'Grtsk Giga Bkslnt', sans-serif;
      font-weight: 500;
      font-size: clamp(32px, 4vw, 96px);
    }

    &-description {
      font-family: 'Grtsk Giga Bkslnt', sans-serif;
      font-weight: 500;
      font-size: clamp(14px, 2vw, 24px);
      letter-spacing: 0;
    }
  }

  &__year-of-foundation {
    position: absolute;
    right: 10.4%;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-description {
      font-size: clamp(14px, 2vw, 24px);
      max-width: 293px;
      text-align: right;
    }
  }

  &__objects-in-portfolio {
    position: absolute;
    left: 6%;
    top: 522px;
    display: flex;
    flex-direction: column;

    &-description {
      font-size: clamp(14px, 2vw, 24px);
      max-width: 420px;
    }
  }

  &__successful-transactions {
    position: absolute;
    right: 21.7%;
    top: 1175px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-description {
      font-size: clamp(14px, 2vw, 24px);
      max-width: 343px;
      text-align: right;
    }
  }

  &__year-of-foundation-image {
    position: absolute;
    top: 80px;
    left: 28.2%;
    width: 660px;
    height: 591px;
    object-fit: cover;
  }

  &__objects-in-portfolio-image {
    position: absolute;
    top: 400px;
    left: 42.7%;
    width: 700px;
    height: 696px;
    object-fit: cover;
  }

  &__successful-transactions-image {
    position: absolute;
    top: 700px;
    left: 8.5%;
    width: 700px;
    height: 655px;
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    &__year-of-foundation-image {
      top: 6%;
      left: 20%;
      width: 45vw;
      height: auto;
    }

    &__objects-in-portfolio-image {
      top: 28%;
      left: 30%;
      width: 50vw;
      height: auto;
    }

    &__successful-transactions-image {
      top: 50%;
      left: 10%;
      width: 50vw;
      height: auto;
    }

    &__year-of-foundation {
      top: calc(10px + 2vw);
    }

    &__objects-in-portfolio {
      top: calc(522px + 2vw);
    }

    &__successful-transactions {
      top: calc(1175px + 2vw);
    }
  }

  @media (max-width: 768px) {
    &__year-of-foundation-image {
      top: 5%;
      left: 10%;
      width: 70vw;
      height: auto;
    }

    &__objects-in-portfolio-image {
      top: 25%;
      left: 17%;
      width: 70vw;
      height: auto;
    }

    &__successful-transactions-image {
      top: 45%;
      left: 4%;
      width: 70vw;
      height: auto;
    }

    &__year-of-foundation {
      top: calc(5% + 1.5vw);
    }

    &__objects-in-portfolio {
      top: calc(25% + 1.5vw);
    }

    &__successful-transactions {
      top: calc(45% + 1.5vw);
    }
  }
}
