@font-face {
  font-family: "SuisseIntl";
  src: url("./../../public/fonts/Suisseintl-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("./../../public/fonts/Suisseintl-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grtsk Giga Bkslnt";
  src: url("./../../public/fonts/GrtskGiga-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grtsk Giga Bkslnt";
  src: url("./../../public/fonts/GrtskGiga-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grtsk Giga Bkslnt";
  src: url("./../../public/fonts/GrtskGiga-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 0.75px;
  font-family: "SuisseIntl", sans-serif;
  font-weight: normal;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #F5F5F5;
  color: #1F0111 !important;
}

button,
input,
select,
textarea {
  background: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

input,
select,
textarea {
  font-size: 14px;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  letter-spacing: 0.25px;
  font-size: 48px;
}

h2 {
  letter-spacing: 0;
  font-size: 32px;
}

h3 {
  font-size: 22px;
  letter-spacing: 0;
}

h4, .small-text {
  font-size: 16px;
  letter-spacing: 0;
}

.input-text {
  font-size: 14px;
  letter-spacing: 0;
}

.big-text {
  font-size: 20px;
  letter-spacing: 0.75px;
}

h5 {
  font-size: 22px;
  letter-spacing: 0.4px;
}

span, label {
  font-size: 14px;
  letter-spacing: 0;
}

label {
  letter-spacing: 0.4px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 720px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4, .small-text {
    font-size: 16px;
  }
  .big-text {
    font-size: 18px;
  }
  h5 {
    font-size: 18px;
  }
  span, label {
    font-size: 14px;
  }
}
@media (max-width: 437px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
  h4, .small-text {
    font-size: 14px;
  }
  .big-text {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
  span, label {
    font-size: 12px;
  }
}
.container {
  width: 100%;
  height: fit-content;
  max-width: 1660px;
  padding: 5px 10px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) and (max-width: 1665px) {
  .container {
    padding: 0 3vw;
  }
}

.header {
  pointer-events: all;
  display: flex;
  align-items: center;
  backdrop-filter: blur(60px);
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  padding: 10px 20px;
}
.header--dark {
  backdrop-filter: blur(60px);
  background-color: rgba(0, 0, 0, 0.2);
}
.header__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.header__navigation--primary {
  display: none;
}
@media (min-width: 1425px) {
  .header__navigation--primary {
    display: flex;
  }
}
.header__link {
  color: #fff !important;
  height: fit-content;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 15px 0px;
}

.button {
  padding: 10px 20px;
  min-width: 205px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  background-color: #96004F;
  border-color: #96004F;
  color: #fff !important;
}
.button:hover {
  background-color: #3d0623;
  border-color: #3d0623;
}
.button--outline-black {
  background-color: transparent;
  border-color: #1F0111;
  color: #1F0111 !important;
}
.button--outline-black:hover {
  background-color: transparent;
  border-color: #96004F;
  color: #96004F !important;
}
.button--outline-white {
  background-color: transparent;
  border-color: #fff;
  color: #fff !important;
}
.button--outline-white:hover {
  background-color: #96004F;
}
.button--outline-red {
  background-color: transparent;
  border-color: #96004F;
  color: #96004F !important;
}
.button--outline-red:hover {
  background-color: transparent;
  border-color: #1F0111;
  color: #1F0111 !important;
}
.button--white {
  background-color: #fff;
  border-color: #fff;
  color: #96004F !important;
}
.button--white:hover {
  color: #fff !important;
}
.button--dark-gray {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  color: #1F0111 !important;
}
.button--dark-gray:hover {
  background-color: #1F0111;
  border-color: #1F0111;
  color: #fff !important;
}
.button--small {
  padding: 10px 30px;
  font-size: 14px;
  min-width: auto;
}
.button--large {
  padding: 22px 40px;
  font-size: 16px;
  min-width: 379px;
}
.button--full-width {
  width: 100%;
}
.button--full-height {
  height: 100%;
}
.button--icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  min-width: 40px;
}
.button--hidden {
  display: none;
}
@media (max-width: 720px) {
  .button {
    padding: 10px 16px;
    font-size: 14px;
    width: 100%;
    min-width: auto;
  }
  .button--large {
    padding: 14px 20px;
    font-size: 15px;
    min-width: auto;
  }
  .button--small {
    padding: 8px 14px;
    font-size: 13px;
  }
  .button--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    min-width: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
}
.footer__row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.footer__col-container {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: fit-content;
  gap: 16px;
}
.footer__col-container__detail {
  gap: 17px;
  max-width: 320px;
}
.footer__col-container__navigation {
  gap: 10px;
}
.footer__col-container__social-networks {
  gap: 7px;
  max-width: 240px;
}
.footer__developed-by {
  display: flex;
  justify-items: center;
  gap: 10px;
}
.footer__description {
  width: 100%;
  max-width: 203px;
}

.social-network {
  width: 51px;
  height: 51px;
  border-radius: 25.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.3s ease;
}
.social-network:hover {
  background-color: #EAABCC;
}
.social-network--light-pink {
  background-color: #F9EEF4;
}
.social-network--light-pink:hover {
  background-color: #fff;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
@media (max-width: 720px) {
  .sections {
    gap: 60px;
  }
}

.relative-wrapper {
  position: relative;
  width: 100%;
}

.menu {
  z-index: 10;
  margin-top: 10px;
  display: flex;
  padding: 40px;
  gap: 60px;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  background-color: #F5F5F5;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.98);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.menu.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
@media (max-width: 1425px) {
  .menu {
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100vh - 146px);
    overflow-y: scroll;
    padding: 10px;
  }
}
.menu__navigation {
  background-color: #fff;
  width: 100%;
  max-width: 486px;
  height: 305px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__navigation--detail {
  max-width: 357px;
}
@media (max-width: 1425px) {
  .menu__navigation {
    max-width: 100%;
    height: fit-content;
  }
}
.menu__social-networks {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (max-width: 1425px) {
  .menu__social-networks {
    flex-direction: row;
  }
}
.menu__link {
  font-size: 22px;
  letter-spacing: 0.4px;
}

.label {
  color: #BCBABA !important;
}
.label--white {
  color: #fff !important;
}
.label--in-input {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.input {
  border: 1px solid;
  padding: 8px 20px;
  width: 100%;
  border-color: #fff;
  color: #fff !important;
}
.input::placeholder {
  color: #fff;
}
.input::-webkit-input-placeholder {
  color: #fff;
}
.input::-moz-placeholder {
  color: #fff;
}
.input:-ms-input-placeholder {
  color: #fff;
}
.input:-moz-placeholder {
  color: #fff;
}
.input--gray {
  border-color: #BCBABA;
  color: #1F0111 !important;
}
.input--gray::placeholder {
  color: #BCBABA;
}
.input--gray::-webkit-input-placeholder {
  color: #BCBABA;
}
.input--gray::-moz-placeholder {
  color: #BCBABA;
}
.input--gray:-ms-input-placeholder {
  color: #BCBABA;
}
.input--gray:-moz-placeholder {
  color: #BCBABA;
}
.input--white {
  background-color: #fff;
  color: #1F0111 !important;
}
.input--white::placeholder {
  color: #BCBABA;
}
.input--white::-webkit-input-placeholder {
  color: #BCBABA;
}
.input--white::-moz-placeholder {
  color: #BCBABA;
}
.input--white:-ms-input-placeholder {
  color: #BCBABA;
}
.input--white:-moz-placeholder {
  color: #BCBABA;
}
.input--large {
  height: 63px;
}

.pagination {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.pagination__links {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 14px;
}
.pagination__link {
  transition: 0.3s;
}
.pagination__link--active {
  background-color: #96004F;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.bread-crumbs__separator {
  color: #BCBABA !important;
}
.bread-crumbs__item {
  color: #BCBABA !important;
}
.bread-crumbs__item--active {
  color: #EAABCC !important;
}
.bread-crumbs__item--active--white {
  color: #fff !important;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.news__header {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news__title {
  font-weight: bold;
  font-family: "Grtsk Giga Bkslnt", sans-serif;
}
.news__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 40px;
  grid-auto-flow: dense;
}
.news__grid > :nth-child(2), .news__grid > :nth-child(4), .news__grid > :nth-child(9) {
  grid-column: span 2;
}
.news__grid > :only-child {
  grid-column: 1/-1;
}
@media (max-width: 800px) {
  .news__grid {
    grid-template-columns: 1fr;
  }
  .news__grid > :nth-child(2), .news__grid > :nth-child(4), .news__grid > :nth-child(9) {
    grid-column: auto;
  }
}

.news-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  color: #1F0111 !important;
  background-color: #fff;
}
.news-card__img {
  width: 100%;
  height: 321px;
  object-fit: cover;
}
.news-card__content {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;
}
.news-card__meta {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.news-card__read-by-time-container {
  display: flex;
  gap: 5px;
}
.news-card__read-by-time {
  color: #BCBABA !important;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 1000;
}
.modal--active {
  display: flex;
}
.modal__title {
  font-family: "Grtsk Giga Bkslnt", sans-serif;
  font-weight: 500;
  text-align: center;
}
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  padding: 40px 120px;
  width: 100%;
  max-width: 820px;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}
@media (max-width: 720px) {
  .modal__content {
    padding: 20px 40px;
  }
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 40px;
}
@media (max-width: 720px) {
  .modal__close {
    top: 10px;
    right: 20px;
  }
}

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}
.checkbox input {
  position: absolute;
  opacity: 0;
}
.checkbox span {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-color: #1F0111;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: 0.3s;
}
.checkbox span svg {
  opacity: 0;
}
.checkbox input:checked + span {
  background-color: #96004F;
  border-color: #96004F;
}
.checkbox input:checked + span svg {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*# sourceMappingURL=news.css.map */
